# 1.Indexing

In [1]:
student_info = ['Ahmad', 'Bilal', 'GC University', 'Computer Science', 'BS', 50000, '2 February 2020', '31 March 2020' ]

In [2]:
print('''Hello {f_name} {l_name}!\n Your Application is accepted for admission in "{discipline}{department}" in {institute}.
 You have to submit {fees} before {deadline}.\n Your classes will start from {orientation}.\n Thanks.'''
 .format(f_name=student_info[0],l_name=student_info[1],discipline=student_info[4],department=student_info[3],
  institute=student_info[2],fees=student_info[5],deadline=student_info[6],orientation=student_info[7] ))

Hello Ahmad Bilal!
 Your Application is accepted for admission in "BSComputer Science" in GC University.
 You have to submit 50000 before 2 February 2020.
 Your classes will start from 31 March 2020.
 Thanks.

# 2.Slicing

In [3]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

In [4]:
print("Positive Slicing")
print(cities[:4])
print(cities[2:6])
print(cities[5:])

Positive Slicing
['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']

In [5]:
print("Negative Slicing")
print(cities[-4:-1])
print(cities[-5:])

Negative Slicing
['Quetta', 'Sahiwal', 'Rawalpindi']
['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3.Update Lists

In [6]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [7]:
studentData.append('20 February 2019')
studentData.append(8)

In [8]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]

In [9]:
studentData.insert(4, 25000)
studentData.insert(1, "M. Iqbal")

In [10]:
print(studentData)

['Ali Raza', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [11]:
i = studentData.index('Ali Raza')
studentData[i] = 'Zohaib Ali'
i = studentData.index(5)
studentData[i] = 7

In [12]:
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 7, 'University of Agriculture', '20 February 2019', 8]

In [13]:
#popping the last value
studentData.pop()

8

In [14]:
#popping the value at 3rd index
studentData.pop(3)

91.24

# 4.Multidimensional Lists Tasks

In [15]:
employeeData = [["Ali", 35000, "Software Engineer"],
                ["Talha", 55000, "Product Manager"],
                ["Nasir", 79000, "Computer Engineer"],
                ["Khalid", 44000, "DBA"]]

**_For Loop Task_**

In [16]:
totalSal = 0
print("Employees with salary more than 50000: ")


for emp in employeeData:
    totalSal += emp[1]
    if emp[1] > 50000:
        print(emp[0])


print("Total Salary of all Employees is {}".format(totalSal))

Employees with salary more than 50000:
Talha
Nasir
Total Salary of all Employees is 213000

**_List Update Task_**

In [17]:
for emp in employeeData:
    if emp[0] == "Nasir":
        emp[1] = 90000
        emp[2] = "Product Manager"
    elif emp[0] == "Khalid":
        emp[1] = 50000

In [18]:
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Product Manager'],
 ['Khalid', 50000, 'DBA']]

# 5.Login User

**_Data 1_**

In [19]:
username = "faizan1214"
password = "qwerty"
emailVerified = False

if username == "faizan1214" and password == "qwerty":
    if emailVerified:
        print("Login Succeed")
    else:
        print("Email Not Verified")
else:
    print("Incorrect Login Details")

Email Not Verified

**_Data 2_**

In [20]:
username = "faizan1214"
password = "qwerty"
emailVerified = True

if username == "faizan1214" and password == "qwerty":
    if emailVerified:
        print("Login Succeed")
    else:
        print("Email Not Verified")
else:
    print("Incorrect Login Details")

Login Succeed