# Assignment 1

In [1]:
empList = []
empDict = {}

In [2]:
num = int(input("How many Employees do you want to enter? "))


for i in range(num):
    print('*'*100)
    print("Enter Employee {} Data!".format(i+1))
    empDict["Name"] = input("Enter Employee Name: ")
    empDict["Age"] = int(input("Enter Employee Age: "))
    empDict["Work"] = input("Enter Employee Work: ")
    empDict["Skills"] = input("Enter Employee Skills (if more than one searate them by ','): ").split(',')
    empDict["Salary"] = int(input("Enter Employee Salary: "))
    empDict["Degree"] = {}
    empDict["Degree"]["Title"] = input("Enter Degree Title: ")
    empDict["Degree"]["Major"] = input("Enter Degree Major: ")
    empDict["Degree"]["Completion Date"] = input("Enter Degree Completion Date: ")
    empList.append(empDict)

How many Employees do you want to enter? 3
****************************************************************************************************
Enter Employee 1 Data!
Enter Employee Name: Hamza Ali
Enter Employee Age: 25
Enter Employee Work: A.I
Enter Employee Skills (if more than one searate them by ','): python,tensorflow,cloud
Enter Employee Salary: 259999
Enter Degree Title: BS
Enter Degree Major: Computer Science
Enter Degree Completion Date: Jun 2019
****************************************************************************************************
Enter Employee 2 Data!
Enter Employee Name: Farooq Aziz
Enter Employee Age: 27
Enter Employee Work: Cloud Native
Enter Employee Skills (if more than one searate them by ','): ubuntu,docker,kubernetes
Enter Employee Salary: 200000
Enter Degree Title: MS
Enter Degree Major: Software Engineer
Enter Degree Completion Date: May 2018
****************************************************************************************************
Enter Employee 3 Data!
Enter Employee Name: Abu Bakr
Enter Employee Age: 30
Enter Employee Work: Blockchain
Enter Employee Skills (if more than one searate them by ','): python,Cryptography,Ethereum
Enter Employee Salary: 300000
Enter Degree Title: MS
Enter Degree Major: Computer Science
Enter Degree Completion Date: May 2019

# Assignment 2

In [65]:
r1,r2 = input("Enter Table Range number (separated by space): ").split()
r1 = int(r1)
r2 = int(r2)

Enter Table Range number (separated by space): 5 10

**First Output**

In [88]:
for j in range(r1,r2+1):
    print()
    for k in range(1,11):
        print('{} x {} = {}'.format(k,j,(k) * j))

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

**Second Output**

In [89]:
for j in range(1,11):
    print()
    for k in range(r1,r2+1):
        print("{} x {} = {}".format(k,j,k*j),end='\t')

5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9	10 x 1 = 10
5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18	10 x 2 = 20
5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27	10 x 3 = 30
5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36	10 x 4 = 40
5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45	10 x 5 = 50
5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54	10 x 6 = 60
5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63	10 x 7 = 70
5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72	10 x 8 = 80
5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81	10 x 9 = 90
5 x 10 = 50	6 x 10 = 60	7 x 10 = 70	8 x 10 = 80	9 x 10 = 90	10 x 10 = 100